@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sacramento&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: #EEFCAE;
}

#header{
    display: flex;
    flex-direction: column;
}

#logo_bar a{
    color: #D288FC;
    font-family: 'Russo One', sans-serif;
    padding: 15px;
    font-size: 55px;
    font-weight: bold;
    text-decoration: none;
}

#btt_menu{
    display: none;
}

label[for="btt_menu"]{
    display: none;
    position: absolute;
    padding: 10px;
    color: #D288FC;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #D288FC;
}

li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    font-size: 36px;
}

li a:hover{
    background-color: white;
    color: #D288FC;
}

@media(max-width: 800px){

    #header{
        text-align: center;
    }

    label[for="btt_menu"]{
        display: block;
    }

    #nav{
        display: none;
    }

    #btt_menu:checked ~ #nav{
        display: block;
    }

    #nav li{
        float: none;
        text-align: center;
    }
}

@media(max-width: 450px){

    #logo_bar{
        font-size: 25px;
    }

    label[for="btt_left"]{
        font-size: 30px;
    }
}