@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&family=Sacramento&family=Tourney:wght@100&display=swap');

.container{
    padding: 0px;
    width: 90%;
    display: flex;
}

img{
    width: 100%;
    border-radius: 4px;
}

.box{
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: #D288FC;
    color: white;
    border-radius: 10px;
    width: 50%;
}

.box p{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    text-align: left;
}

.box a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
}

.box a:hover{
    background-color: white;
    color: #D288FC;
}

h2{
    font-size: 34px;
    font-family: 'Tourney', cursive;
}

h3{
    font-size: 26px;
    font-family: 'Russo One', sans-serif;
}

@media(max-width: 800px){

    .container{
        margin: 0px;
        width: auto;
        display: block;
    }

    .box{
        width: auto;
    }
}

@media(max-width: 450px){
    h2{
        font-size: 26px;
    }

    h3{
        font-size: 22px;
    }
}